<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChangePwd</title>
    <link rel="stylesheet" href="./vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="./vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        ChangePwd
                    </div>

                    <div class="card-body py-5">
                        <div class="form-group">
                            <label class="form-control-label">Account</label>
                            <input type="text" id="account" class="form-control"
                                   th:each="cookie :${#httpServletRequest.getCookies()}"
                                   th:if="${cookie.getName().equals('account')}"
                                   th:value="${cookie.getValue()}" readonly="readonly">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">OldPwd</label>
                            <input type="password" id="oldPwd" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">NewPwd</label>
                            <input type="password" id="newPwd" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">AgainNewPwd</label>
                            <input type="password" id="againNewPwd" class="form-control">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-block">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
</body>
</html>
