<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="sidebar" th:fragment="leftmenu">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-target"></i> 用户管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-target"></i> 用户列表
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-energy"></i> 场景管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-energy"></i> 场景列表
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-energy"></i> 场景审核列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-graph"></i> 需求管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-graph"></i> 需求列表
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-puzzle"></i> 内容管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-puzzle"></i> 轮播图列表
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-puzzle"></i> 剧组服务列表
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-puzzle"></i> 反馈信息
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-grid"></i> 分类管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items open">
                    <li class="nav-item nav-dropdown open">
                        <a th:href="${#httpServletRequest.getContextPath()}+'/category/getStageLocaledList'" class="nav-link">
                            <i class="icon icon-grid"></i> 场景地区列表
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="${#httpServletRequest.getContextPath()}+'/category/getFilmTypeList'" class="nav-link">
                            <i class="icon icon-grid"></i> 影视剧类型列表
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="${#httpServletRequest.getContextPath()}+'/category/getStageTypeList'" class="nav-link">
                            <i class="icon icon-grid"></i> 场景类型列表
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="${#httpServletRequest.getContextPath()}+'/category/getStageStyleList'" class="nav-link">
                            <i class="icon icon-grid"></i> 场景风格列表
                        </a>
                    </li>


                </ul>
            </li>

            <li class="nav-item nav-dropdown open">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-umbrella"></i> 权限管理 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> 管理员列表
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> 身份列表
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-normal.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> 操作日志
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>


