<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<!--<div class="container-fluid">-->
    <!--<div class="row-fluid">-->
        <!--<div class="span12">-->
            <!--<ul th:each="a : ${articles.param_relation}">-->
                <!--<li th:text="${a.db_param_name}">-->
                <!--</li>-->
                <!--<li th:text="${a.comment}">-->
                <!--</li>-->
            <!--</ul>-->
            <!--<button class="btn" type="button">按钮</button>-->
            <!--<ul th:each="b : ${articles.table_param}">-->
                <!--<li th:text="${b.db_param_name}">-->
                <!--</li>-->
                <!--<li th:text="${b.comment}">-->
                <!--</li>-->
            <!--</ul>-->
            <!--<button class="btn" type="button" onclick="getTableDetail();">按钮</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">注艺租赁管理后台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <div class="panel-group" id="panel-594187">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a id="userMenu" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-826081">用 户 管 理</a>
                            </div>
                            <div id="panel-element-826081" class="panel-collapse collapse">
                                <div class="panel-body">
                                    用户列表
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-792342">场 景 管 理</a>
                            </div>
                            <div id="panel-element-792342" class="panel-collapse collapse">
                                <div class="panel-body">
                                    场景列表<br/>
                                    场景审核列表
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-792343">需 求 管 理</a>
                            </div>
                            <div id="panel-element-792343" class="panel-collapse collapse">
                                <div class="panel-body">
                                    需求列表
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-792344">内 容 管 理</a>
                            </div>
                            <div id="panel-element-792344" class="panel-collapse collapse">
                                <div class="panel-body">
                                    轮播图列表<br/>
                                    剧组服务列表<br/>
                                    反馈信息
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-792345">分 类 管 理</a>
                            </div>
                            <div id="panel-element-792345" class="panel-collapse collapse">
                                <div class="panel-body">
                                    影视剧类型列表<br/>
                                    场景风格列表<br/>
                                    场景类型列表
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a id="adminMenu" class="panel-title" data-toggle="collapse" data-parent="#panel-594187" href="#panel-element-792346" aria-expanded="true">权 限 管 理</a>
                            </div>
                            <div id="panel-element-792346" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    管理员列表<br/>
                                    身份列表<br/>
                                    操作日志
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 column">
                    <ul class="breadcrumb">
                        <li>
                            权限管理
                        </li>
                        <li class="active">
                            管理员列表
                        </li>
                        <!--<li class="active">-->
                            <!--Data-->
                        <!--</li>-->
                    </ul>
                    <div class="row clearfix">
                        <div class="col-md-10 column">
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input id="accountOrName" type="text" class="form-control" placeholder="请输入管理员账号/姓名进行搜索" th:value="${accountOrName}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" onclick="getAdminList();"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 column">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增管理员</button>
                        </div>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    编号
                                </th>
                                <th>
                                    管理员账号
                                </th>
                                <th>
                                    姓名
                                </th>
                                <th>
                                    管理员身份
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="a : ${adminList.list}">
                                <td th:text="${a.id}">
                                    1
                                </td>
                                <td th:text="${a.account}">
                                    15060606060
                                </td>
                                <td th:text="${a.name}">
                                    管理员1
                                </td>
                                <td th:text="${a.roleId}">
                                    对账财务
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button">编辑</button>
                                    <button class="btn btn-primary" type="button">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row clearfix">
                        <input type="hidden" id="pageNum" th:value="${adminList.pageNum}"/>
                        <input type="hidden" id="pageSize" th:value="${adminList.pageSize}"/>
                        <input type="hidden" id="pages" th:value="${adminList.pages}"/>
                        <div class="col-md-4 column">
                            <span style="height: inherit;">共   <span th:text="${adminList.total}">5</span>    条记录</span>
                        </div>
                        <div class="col-md-8 column">
                            <ul class="pagination" style="margin: 0 0;">
                                <th:block th:if="${adminList.pageNum > 1}">
                                    <li>
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${adminList.pageNum-1}+'&accountOrName='+${accountOrName}">上一页</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${adminList.pages < 9}">
                                    <li th:each="dayCyc : ${#numbers.sequence(1,adminList.pages)}" th:class="${dayCyc == adminList.pageNum}? 'active' : ''">
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${dayCyc}+'&accountOrName='+${accountOrName}" th:text="${dayCyc}">1</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${adminList.pages >= 9}">
                                    <li th:if="${adminList.pageNum >= 4}" th:class="${1 == adminList.pageNum}? 'active' : ''">
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum=1&accountOrName='+${accountOrName}">1</a>
                                    </li>
                                    <li th:if="${adminList.pageNum <= 3}" th:each="dayCyc : ${#numbers.sequence(1,5)}" th:class="${dayCyc == adminList.pageNum}? 'active' : ''">
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${dayCyc}+'&accountOrName='+${accountOrName}" th:text="${dayCyc}">1</a>
                                    </li>
                                    <li th:if="${adminList.pageNum >= 5}">
                                        <span>...</span>
                                    </li>
                                    <th:block th:if="${adminList.pageNum >= 4 and adminList.pageNum <= adminList.pages-3}">
                                        <li th:each="dd : ${#numbers.sequence(-2,2)}" th:class="${adminList.pageNum+dd == adminList.pageNum}? 'active' : ''">
                                            <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${adminList.pageNum+dd}+'&accountOrName='+${accountOrName}" th:text="${adminList.pageNum+dd}">1</a>
                                        </li>
                                    </th:block>
                                    <li th:if="${adminList.pageNum <= adminList.pages - 4}">
                                        <span>...</span>
                                    </li>
                                    <li th:if="${adminList.pageNum >= adminList.pages - 2}" th:each="dayCyc : ${#numbers.sequence(-4,0)}" th:class="${adminList.pages + dayCyc == adminList.pageNum}? 'active' : ''">
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${adminList.pages + dayCyc}+'&accountOrName='+${accountOrName}" th:text="${adminList.pages + dayCyc}">1</a>
                                    </li>
                                    <li th:if="${adminList.pageNum <= adminList.pages - 3}" th:class="${adminList.pages == adminList.pageNum}? 'active' : ''">
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${adminList.pages}+'&accountOrName='+${accountOrName}" th:text="${adminList.pages}">1</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${adminList.pageNum < adminList.pages}">
                                    <li>
                                        <a th:href="'getAdminList?pageSize='+${adminList.pageSize}+'&pageNum='+${adminList.pageNum+1}+'&accountOrName='+${accountOrName}">下一页</a>
                                    </li>
                                </th:block>
                                <li>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:text="${adminList.pageSize}+'条/页'">10条/页
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a th:href="'getAdminList?pageSize=10&accountOrName='+${accountOrName}">10条/页</a>
                                            </li>
                                            <li>
                                                <a th:href="'getAdminList?pageSize=20&accountOrName='+${accountOrName}">20条/页</a>
                                            </li>
                                            <li>
                                                <a th:href="'getAdminList?pageSize=30&accountOrName='+${accountOrName}">30条/页</a>
                                            </li>
                                            <!--<li class="divider"></li>-->
                                            <li>
                                                <a th:href="'getAdminList?pageSize=40&accountOrName='+${accountOrName}">40条/页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    跳至<input id="jumpPage" type="text" class="form-control" style="width: 50px;display: inline-block;"/>页
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- 按钮触发模态框 -->
                <!--<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>-->
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">新增管理员</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="account" class="col-sm-3 control-label">*管理员账号：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="account" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="adminName" class="col-sm-3 control-label">*管理员姓名：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="adminName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-3 control-label">*管理员密码：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="password" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="select" class="col-sm-3 control-label">*管理员身份：</label>
                                        <div class="col-sm-9">
                                            <select id="roleId" name="select" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
                                                　　<option value="1">苹果</option>
                                                　　<option value="2">菠萝</option>
                                                　　<option value="3">香蕉</option>
                                                　　<option value="4">火龙果</option>
                                                　　<option value="5">梨子</option>
                                                　　<option value="6">草莓</option>
                                                　　<option value="7">哈密瓜</option>
                                                　　<option value="8">椰子</option>
                                                　　<option value="9">猕猴桃</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeAddAdmin">取消</button>
                                <button type="submit" class="btn btn-primary" onclick="insertAdmin();">确定</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function (){
//        $("#adminMenu").click();
    });
    $(document).keydown(function(event){
        if(event.keyCode == 13){
            if(isNumber($("#jumpPage").val())){//非数字不能跳转
                window.location.href = 'getAdminList?accountOrName='+$("#accountOrName").val()+'&pageSize='+$("#pageSize").val()+'&pageNum='+$("#jumpPage").val();
            }
        }
    });
    function insertAdmin(){
        $.ajax({
            url: "http://localhost:8080/zhuYi/createAndUpdateAdmin",
            method: "post",
            data: {
                account:$("#account").val(),
                name:$("#adminName").val(),
                password:$("#password").val(),
                roleId:$("#roleId").val()
            },
            success: function(result){
                if(result.status == 1){
                    alert(result.message);
                    window.location.href = 'getAdminList';
                }else{
                    alert(result.message);
                }
            }
        });
    }
    //判断是否为数字方法
    function isNumber(val){
        var regPos = /^\d+(\.\d+)?$/; //非负浮点数
        var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
        if(regPos.test(val) || regNeg.test(val)){
            return true;
        }else{
            return false;
        }
    }
    function getAdminList() {
        if($("#accountOrName").val().trim() != ''){
            window.location.href = 'getAdminList?pageSize='+$("#pageSize").val()+'&accountOrName='+$("#accountOrName").val();
        }
    }
</script>
</body>
</html>