<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <style>
        .fileinput-button {
            position: relative;
            display: inline-block;
            overflow: hidden;
        }

        .fileinput-button input{
            position: absolute;
            left: 0px;
            top: 0px;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
        }
        .imgDiv {
            display: inline-block;
            position: relative;
        }

        .imgDiv .delete {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/wellcome">注艺租赁管理后台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" th:each="cookie :${#httpServletRequest.getCookies()}"
                                  th:if="${cookie.getName().equals('name')}"
                                  th:text="${cookie.getValue()}+'，您好'"></a>
                        </li>
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;登出</a>
                        </li>
                        <li>
                            <a href="/changePwd">修改密码</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <div class="panel-group" id="panel-594187">
                        <div class="panel panel-default" th:each="m : ${menu}">
                            <div class="panel-heading" th:if="${m.title} ne ${pageTitle}">
                                <a th:text="${m.title}" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-826081'+${m.id}">用 户 管 理</a>
                            </div>
                            <div  th:if="${m.title} ne ${pageTitle}" th:id="'panel-element-826081'+${m.id}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                                </div>
                            </div>

                            <div class="panel-heading" th:unless="${m.title} ne ${pageTitle}">
                                <a th:text="${m.title}" class="panel-title" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-792346'+${m.id}" aria-expanded="true">权 限 管 理</a>
                            </div>
                            <div th:unless="${m.title} ne ${pageTitle}" th:id="'panel-element-792346'+${m.id}" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 column">
                    <ul class="breadcrumb">
                        <li>
                            内容管理
                        </li>
                        <li>
                            剧组服务列表
                        </li>
                        <li class="active">
                            编辑服务
                        </li>
                    </ul>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div style="border: 1px solid #aaaaaa;border-radius: 5px;">
                                <div style="padding: 20px 5px 5px 5px;">
                                    <form class="form-horizontal" role="form" id="rotationMsgForm" enctype="multipart/form-data">
                                        <input type="hidden" id="crewServiceId" th:value="${crewServiceMsg.id}"/>
                                        <input type="hidden" id="picUrl"/>
                                        <input type="hidden" id="picType"/>
                                        <input type="file" name="file" style="display:none" id="selectFile" onchange="fileUpload();"/>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">*服务名称（中文）：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="name" placeholder="" th:value="${crewServiceMsg.name}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="nameEn" class="col-sm-3 control-label">*服务名称（英文）：</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="nameEn" placeholder="" th:value="${crewServiceMsg.nameEn}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="order" class="col-sm-3 control-label">*权重：</label>
                                            <div class="col-sm-3">
                                                <select id="order" name="select" class="selectpicker show-tick form-control" data-live-search="true" data-actions-box="true">
                                                    　　<option th:each="dayCyc : ${#numbers.sequence(0,9)}" th:value="${dayCyc}" th:text="${dayCyc}"  th:selected="${dayCyc == crewServiceMsg.order}?true:false">0</option>
                                                    <!--　　<option value="1">1</option>-->
                                                    <!--　　<option value="2">2</option>-->
                                                    <!--　　<option value="3">3</option>-->
                                                    <!--　　<option value="4">4</option>-->
                                                    <!--　　<option value="5">5</option>-->
                                                    <!--　　<option value="6">6</option>-->
                                                    <!--　　<option value="7">7</option>-->
                                                    <!--　　<option value="8">8</option>-->
                                                    <!--　　<option value="9">9</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="picNum" value="0" th:value="${crewServiceMsg.serviceLogoUrl} eq ''?0:1"/>
                                            <label class="col-sm-3 control-label">*服务图标：</label>
                                            <div class="col-sm-9">
                                                <div id="showPic">
                                                    <div class='col-sm-3' th:if="${crewServiceMsg.serviceLogoUrl} ne ''"><input type='hidden' name='serviceLogoUrl' th:value="${crewServiceMsg.serviceLogoUrl}"/><div class='imgDiv'><img th:src="${crewServiceMsg.serviceLogoUrl}" width='100%'/><a href='#'><span class='glyphicon glyphicon-remove delete'></span></a></div></div>
                                                </div>
                                                <span class="btn btn-primary fileinput-button" th:onclick="'clickUpload(1)'" id="uploadBtn" th:style="${crewServiceMsg.serviceLogoUrl} ne ''?'display:none;':''">
                                                    <span>上传</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="picNum2" th:value="${#lists.size(#strings.arraySplit(crewServiceMsg.servicePicUrl,','))}"/>
                                            <label class="col-sm-3 control-label">*服务图片：</label>
                                            <div class="col-sm-9">
                                                <div id="showPic2">
                                                    <div class='col-sm-3' th:if="${#lists.size(#strings.arraySplit(crewServiceMsg.servicePicUrl,',')) > 0}" th:each="url : ${#strings.arraySplit(crewServiceMsg.servicePicUrl,',')}"><input type='hidden' name='serviceLogoUrl' th:value="${url}"/><div class='imgDiv'><img th:src="${url}" width='100%'/><a href='#'><span class='glyphicon glyphicon-remove delete'></span></a></div></div>
                                                </div>
                                                <span class="btn btn-primary fileinput-button" th:onclick="'clickUpload(2)'" id="uploadBtn2" th:style="${#lists.size(#strings.arraySplit(crewServiceMsg.servicePicUrl,','))} < 4?'':'display:none;'">
                                                    <span>上传</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="description" class="col-sm-3 control-label">*服务描述（中文）：</label>
                                            <div class="col-sm-6">
                                                <!--<input type="hidden" class="form-control" id="description" placeholder="">-->
                                                <textarea class="form-control" id="description" th:text="${crewServiceMsg.description}">在这里输入内容...</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descriptionEn" class="col-sm-3 control-label">*服务描述（英文）：</label>
                                            <div class="col-sm-6">
                                                <!--<input type="hidden" class="form-control" id="descriptionEn" placeholder="">-->
                                                <textarea class="form-control" id="descriptionEn" th:text="${crewServiceMsg.descriptionEn}">在这里输入内容...</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="back();">返回</button>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-primary" onclick="updateCrewService();">保存</button>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>

    function back() {
        window.location.href = 'getCrewServiceList';
    }
    $(document).on('click',".delete",function () {
        var uld = $(this).parent().parent().parent();
        var btn = $(uld).parent().parent().find(".btn");
        $(btn).css("display","");
        var num = $(uld).parent().parent().parent().find("input");
        $(num).val(parseInt($(num).val())-1);
        $(uld).remove();
    });
    function clickUpload(type) {
        $("#picType").val(type);
        $("#selectFile").click();
    }
    function fileUpload() {
//        data.append("file",$('#picUrl'));
        $("#picUrl").val("");
//        var data = new FormData();
        $.ajax({
            url: "http://www.breaa.cn/api/image/uploadFile",
            method: "post",
            data: new FormData($("#rotationMsgForm")[0]),
            dataType: 'JSON',
            cache: false,
            processData: false,
            contentType: false,
//            async:false,
            success: function(result){
                if(result.code == 1){
                    alert("图片上传成功");
                    var prePath = "http://breaa-pic-1255419371.pictj.myqcloud.com";
                    $("#picUrl").val(prePath+result.data.picPath);
//                    $("#picName").val(result.data.picName);
//                    $("#requestUrl").val(result.data.requestUrl);
//                    $("#order").val(result.data.order);
//                    $("#picUrl").val(result.data.picUrl);
                }else{
                    alert(result.message);
                    $("#picUrl").val("");
                }
                if($("#picUrl").val()!=""){
                    if($("#picType").val()==1){
                        var str = "<div class='col-sm-3'><input type='hidden' name='serviceLogoUrl' value='"+$("#picUrl").val()+"'/><div class='imgDiv'><img src='"+$("#picUrl").val()+"' width='100%'/><a href='#'><span class='glyphicon glyphicon-remove delete'></span></a></div></div>";
                        $("#showPic").html($("#showPic").html()+str);
                        $("#picNum").val(1+parseInt($("#picNum").val()));
                        if($("#picNum").val()== 1){
                            $("#uploadBtn").css("display","none");
                        }
                    }else if($("#picType").val()==2){
                        var str = "<div class='col-sm-3'><input type='hidden' name='servicePicUrl' value='"+$("#picUrl").val()+"'/><div class='imgDiv'><img src='"+$("#picUrl").val()+"' width='100%'/><a href='#'><span class='glyphicon glyphicon-remove delete'></span></a></div></div>";
                        $("#showPic2").html($("#showPic2").html()+str);
                        $("#picNum2").val(1+parseInt($("#picNum2").val()));
                        if($("#picNum2").val()== 4){
                            $("#uploadBtn2").css("display","none");
                        }
                    }
                }
            }
        });
    }

    function updateCrewService(){
//        if($("#rotationPicId").val() != ""){
        var pics = [];
        $("input[name='servicePicUrl']").each(function(j,item){
            console.log("下标:"+j);
            console.log("value值:"+item.value);
            pics.push(item.value);
        });
            $.ajax({
                url: "/content/updateCrewService",
                method: "post",
                data: {
                    id:$("#crewServiceId").val(),
                    name:$("#name").val(),
                    order:$("#order").val(),
                    nameEn:$("#nameEn").val(),
                    picUrl:$("#picUrl").val(),
                    serviceLogoUrl:$("input[name='serviceLogoUrl']").val(),
                    servicePicUrl:pics.toString(),
                    description:$("#description").val(),
                    descriptionEn:$("#descriptionEn").val()
                },
                success: function(result){
                    if(result.status == 1){
                        alert(result.message);
                        window.location.href = 'getCrewServiceList';
                    }else{
                        alert(result.message);
                    }
                }
            });
//        }else{
//            $.ajax({
//                url: "/content/updateCrewService",
//                method: "post",
//                data: {
//                    picName:$("#picName").val(),
//                    order:$("#order").val(),
//                    requestUrl:$("#requestUrl").val(),
//                    picUrl:$("#picUrl").val()
//                },
//                success: function(result){
//                    if(result.status == 1){
//                        alert(result.message);
//                        window.location.href = 'getCrewServiceList';
//                    }else{
//                        alert(result.message);
//                    }
//                }
//            });
//        }

    }

    function deleteCrewService(id) {
        var result = confirm("确认删除该剧组服务?");
        if(result){
            $.ajax({
                url: "/content/deleteCrewService",
                method: "get",
                data:{
                    rotationPicId:id
                },
                success: function(result){
                    if(result.status == 1){
                        alert(result.message);
                        window.location.href = 'getCrewServiceList';
                    }else{
                        alert(result.message);
                    }
                }
            });
        }
    }

</script>
</body>
</html>