<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/wellcome">注艺租赁管理后台</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" th:each="cookie :${#httpServletRequest.getCookies()}"
                               th:if="${cookie.getName().equals('name')}"
                               th:text="${cookie.getValue()}+'，您好'"></a>
                        </li>
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;登出</a>
                        </li>
                        <li>
                            <a href="/changePwd">修改密码</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <div class="panel-group" id="panel-594187">
                        <div class="panel panel-default" th:each="m : ${menu}">
                            <div class="panel-heading" th:if="${m.title} ne ${pageTitle}">
                                <a th:text="${m.title}" class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-826081'+${m.id}">用 户 管 理</a>
                            </div>
                            <div  th:if="${m.title} ne ${pageTitle}" th:id="'panel-element-826081'+${m.id}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                                </div>
                            </div>

                            <div class="panel-heading" th:unless="${m.title} ne ${pageTitle}">
                                <a th:text="${m.title}" class="panel-title" data-toggle="collapse" data-parent="#panel-594187" th:href="'#panel-element-792346'+${m.id}" aria-expanded="true">权 限 管 理</a>
                            </div>
                            <div th:unless="${m.title} ne ${pageTitle}" th:id="'panel-element-792346'+${m.id}" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <div th:each="c : ${m.children}"><a th:href="${c.urlPath}" th:text="${c.title}">用户列表</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 column">
                    <ul class="breadcrumb">
                        <li>
                            用户管理
                        </li>
                        <li class="active">
                            用户列表
                        </li>
                        <!--<li class="active">-->
                        <!--Data-->
                        <!--</li>-->
                    </ul>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input id="nameOrAccount" type="text" class="form-control" placeholder="请输入用户昵称/账号进行搜索" th:value="${nameOrAccount}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" onclick="getUserList();"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-7">
                                <span>操作时间</span>
                                <input id="startTime" type="date" class="form-control" style="display: inline-block;width: 150px;" th:value="${startTime}"/>
                                <span>至</span>
                                <input id="endTime" type="date" class="form-control" style="display: inline-block;width: 150px;" th:value="${endTime}"/>
                                <button type="button" class="btn btn-primary" onclick="getUserList();">筛选</button>
                            </div>
                        </div>
                        <!--<div class="col-md-2 column">-->
                            <!---->
                        <!--</div>-->
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    编号
                                </th>
                                <th>
                                    用户昵称
                                </th>
                                <th>
                                    账号
                                </th>
                                <th>
                                    注册时间
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="a : ${userList.list}">
                                <td th:text="${a.id}">
                                    1
                                </td>
                                <td th:text="${a.userName}">
                                    15060606060
                                </td>
                                <td th:text="${a.account}">
                                    15060606060
                                </td>
                                <td>
                                    <div th:text="${#dates.format(a.createTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" th:onclick="'disableUser('+${a.id}+')'">禁用</button>
                                    <button class="btn btn-primary" type="button" th:onclick="'getUserRequestList('+${a.id}+')'">用户需求</button>
                                    <button class="btn btn-primary" type="button"  th:onclick="'getUserStageList('+${a.id}+')'">用户场景</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row clearfix">
                        <input type="hidden" id="pageNum" th:value="${userList.pageNum}"/>
                        <input type="hidden" id="pageSize" th:value="${userList.pageSize}"/>
                        <input type="hidden" id="pages" th:value="${userList.pages}"/>
                        <div class="col-md-4 column">
                            <span style="height: inherit;">共   <span th:text="${userList.total}">5</span>    条记录</span>
                        </div>
                        <div class="col-md-8 column" th:if="${userList.total > 0}">
                            <ul class="pagination" style="margin: 0 0;">
                                <th:block th:if="${userList.pageNum > 1}">
                                    <li>
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${userList.pageNum-1}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">上一页</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${userList.pages < 9}">
                                    <li th:each="dayCyc : ${#numbers.sequence(1,userList.pages)}" th:class="${dayCyc == userList.pageNum}? 'active' : ''">
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${dayCyc}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}" th:text="${dayCyc}">1</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${userList.pages >= 9}">
                                    <li th:if="${userList.pageNum >= 4}" th:class="${1 == userList.pageNum}? 'active' : ''">
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum=1&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">1</a>
                                    </li>
                                    <li th:if="${userList.pageNum <= 3}" th:each="dayCyc : ${#numbers.sequence(1,5)}" th:class="${dayCyc == userList.pageNum}? 'active' : ''">
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${dayCyc}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}" th:text="${dayCyc}">1</a>
                                    </li>
                                    <li th:if="${userList.pageNum >= 5}">
                                        <span>...</span>
                                    </li>
                                    <th:block th:if="${userList.pageNum >= 4 and userList.pageNum <= userList.pages-3}">
                                        <li th:each="dd : ${#numbers.sequence(-2,2)}" th:class="${userList.pageNum+dd == userList.pageNum}? 'active' : ''">
                                            <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${userList.pageNum+dd}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}" th:text="${userList.pageNum+dd}">1</a>
                                        </li>
                                    </th:block>
                                    <li th:if="${userList.pageNum <= userList.pages - 4}">
                                        <span>...</span>
                                    </li>
                                    <li th:if="${userList.pageNum >= userList.pages - 2}" th:each="dayCyc : ${#numbers.sequence(-4,0)}" th:class="${userList.pages + dayCyc == userList.pageNum}? 'active' : ''">
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${userList.pages + dayCyc}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}" th:text="${userList.pages + dayCyc}">1</a>
                                    </li>
                                    <li th:if="${userList.pageNum <= userList.pages - 3}" th:class="${userList.pages == userList.pageNum}? 'active' : ''">
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${userList.pages}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}" th:text="${userList.pages}">1</a>
                                    </li>
                                </th:block>
                                <th:block th:if="${userList.pageNum < userList.pages}">
                                    <li>
                                        <a th:href="'getUserList?pageSize='+${userList.pageSize}+'&pageNum='+${userList.pageNum+1}+'&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">下一页</a>
                                    </li>
                                </th:block>
                                <li>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" th:text="${userList.pageSize}+'条/页'">10条/页
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a th:href="'getUserList?pageSize=10&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">10条/页</a>
                                            </li>
                                            <li>
                                                <a th:href="'getUserList?pageSize=20&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">20条/页</a>
                                            </li>
                                            <li>
                                                <a th:href="'getUserList?pageSize=30&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">30条/页</a>
                                            </li>
                                            <!--<li class="divider"></li>-->
                                            <li>
                                                <a th:href="'getUserList?pageSize=40&nameOrAccount='+${nameOrAccount}+'&startTime='+${startTime}+'&endTime='+${endTime}">40条/页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    跳至<input id="jumpPage" type="text" class="form-control" style="width: 50px;display: inline-block;"/>页
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script>
    $(document).keydown(function(event){
        if(event.keyCode == 13){
            if(isNumber($("#jumpPage").val())){//非数字不能跳转
                window.location.href = 'getUserList?startTime='+$("#startTime").val()+'&endTime='+$("#endTime").val()+'&nameOrAccount='+$("#nameOrAccount").val()+'&pageSize='+$("#pageSize").val()+'&pageNum='+$("#jumpPage").val();
            }
        }
    });
    function disableUser(id) {
        var result = confirm("确认禁用该用户?");
        if(result){
            $.ajax({
                url: "/user/disableUser",
                method: "post",
                data:{
                    id:id
                },
                success: function(result){
                    if(result.status == 1){
                        alert(result.message);
                        window.location.href = 'getUserList?startTime='+$("#startTime").val()+'&endTime='+$("#endTime").val()+'&nameOrAccount='+$("#nameOrAccount").val()+'&pageSize='+$("#pageSize").val();
                    }else{
                        alert(result.message);
                    }
                }
            });
        }
    }
    //判断是否为数字方法
    function isNumber(val){
        var regPos = /^\d+(\.\d+)?$/; //非负浮点数
        var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
        if(regPos.test(val) || regNeg.test(val)){
            return true;
        }else{
            return false;
        }
    }
    function getUserRequestList(userId) {
        window.location.href = 'getUserRequestList?userId='+userId;
    }
    function getUserStageList(userId) {
        window.location.href = 'getUserStageList?userId='+userId;
    }
    function getUserList() {
        window.location.href = 'getUserList?pageSize='+$("#pageSize").val()+'&nameOrAccount='+$("#nameOrAccount").val().trim()+'&startTime='+$("#startTime").val()+'&endTime='+$("#endTime").val();
    }

</script>
</body>
</html>